<mat-card>
  <mat-card-header>
    <mat-card-title><strong>Animals</strong></mat-card-title>
    <mat-card-subtitle>Manage Animals here.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <button mat-button class="btn-create" (click)="createAnimal()" matTooltip="Create new Animal">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort matSortActive="code" matSortDirection="asc"
      matSortDisableClear>


      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let row">{{row.code}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">
          {{row.name?row.name:''}}
        </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let row">{{row.age}} years</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let row">{{row.weight}} kg</td>
      </ng-container>

      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef>Height</th>
        <td mat-cell *matCellDef="let row">{{row.height}} cm</td>
      </ng-container>

      <ng-container matColumnDef="healthStatus">
        <th mat-header-cell *matHeaderCellDef>Health</th>
        <td mat-cell *matCellDef="let row">{{row.healthStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf="row.isActive" svgIcon="check" class="colour-success"></mat-icon>
          <mat-icon *ngIf="!row.isActive" svgIcon="close" class="colour-danger"></mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="editAnimal(row)" matTooltip="Edit">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="flex-row-between">
      <span class="not-found-text">{{notFoundMessage}}</span>
      <mat-paginator [length]="dataSource.totalRecords" [pageIndex]="pagingConstant.pageIndex"
        [pageSize]="pagingConstant.pageSize" [pageSizeOptions]="pagingConstant.pageSizeOptions"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
