/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.display-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-row-between {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
}

.flex-20 {
  width: 20%;
}

.flex-30 {
  width: 30%;
}

.flex-40 {
  width: 40%;
}

.flex-50 {
  width: 50%;
}

.flex-60 {
  width: 60%;
}

.flex-70 {
  width: 70%;
}

.flex-100 {
  width: 100%;
}

.colour-success {
  color: #4caf50;
}

.colour-error {
  color: #f44336;
}

.colour-warning {
  color: #ff9800;
}

.colour-danger {
  color: #f44336;
}

mat-form-field {
  margin-right: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5%;
}